:root {
    --burgundy: #C60C30;
    --black: #333333;
    --gray: #666666;
    --pink: #FBB7C4;
    --light-gray: #F5F5F5;
    --light-burgundy: #FFD4D3;
    --light-olive: #F2EADF;
    --light-yellow: #FFDAA8;
    --light-violet: #E5AAFF;
}