/* * {
    border: 1px solid red !important
} */
body {
    overflow-x: hidden;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 1em;
}

.instagram-section {
    margin-top: 8em;
}

.instagram-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 150px);
    grid-template-rows: repeat(2, 150px);
    grid-gap: 1em;
    place-items: center;
    justify-content: center;
    grid-auto-rows: 150px;
}

.insta-post img {
    width: 100%;
}

.insta-post.big {
    grid-row: span 2;
    grid-column: span 2;
}

.insta-post.big:last-child {
    grid-row: 1 / span 2;
    grid-column: 5 / span 2;
}

.insta-info {
    text-align: center;
}

.insta-handle {
    font-size: 2em;
    font-weight: 600;
    font-family: Martel;
}

.insta-desc {
    font-size: 0.7em;
}

.products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin-top: 1.8em;
    grid-gap: 10px;
}

.partners {
    width: 100%;
}

.partners-grid {
    max-width: calc(4 * 266px - 1px);
    min-width: auto;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(265px, 1fr));
    grid-auto-rows: 164px;
    background-color: #c4c4c4;
    place-items: center;
    justify-content: center;
    margin-top: 1.8em;
    grid-gap: 1px;
}

.product {
    display: grid;
    grid-template-rows: 286px 96px auto;
    justify-items: center;
    grid-gap: 10px;
    position: relative;
    max-width: 100%;
    min-width: 220px;
}

.product-image {
    display: flex;
    align-items: center;
}

.products {
    margin-top: 3.8em;
}

.like-button {
    position: absolute;
    left: 10px;
    top: 10px;
}

.like-button img {
    width: 75%;
}

.philosophy {
    display: flex;
    justify-content: space-between;
}

.philosophy .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.promotions {
    display: flex;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.promotion {
    min-width: 450px;
    background: var(--pink);
    margin-right: 10px;
    padding: 1.5em 2em;
    border-radius: 10px;
    height: 280px;
    position: relative;
}

.promotion-image {
    position: absolute;
    right: 1em;
    top: 50%;
    transform: translateY(-50%);
}

.testimonials {
    display: flex;
}

.pagination-controls {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    justify-content: space-between;
}

.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.pagination span {
    width: 2px;
    height: 30px;
    margin-bottom: 5px;
    background: #CDCDCD;
}

.pagination span.active {
    background: var(--burgundy);
    height: 60px;
}

.controls .next {
    margin-top: 10px;
}

footer {
    margin-top: 6em;
    margin-left: calc(50% - 50vw + 0.5em);
    margin-right: calc(50% - 50vw + 0.5em);
}

footer .social-media {
    padding: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--light-gray);

}

footer .social-media p {
    margin-right: 20px;
}

footer .social-media .social-icon {
    padding: 0.5em 1em;
}

footer .links {
    text-align: center;
    padding: 1em;
    background: var(--gray);
    color: white;
}

footer .copyright {
    text-align: center;
    padding: 1em;
    background: var(--black);
    color: white;
}

@media only screen and (max-width: 991px) {
    .philosophy {
        flex-direction: column;
        align-items: center;
    }
    .philosophy .content {
        margin-top: 1.5em;
        order: 2;
        align-items: center;
    }
    .philosophy .content .content-group {
        text-align: center;
    }
    .philosophy  button {
        margin-top: 2em;
    }

    .insta-post.big, .insta-post.big:last-child {
        grid-row: span 1;
        grid-column: span 1;
    }

    .instagram-grid {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr);
    }
}